.firstTitle {
	font-size: 1.1em;
	font-weight: 500;
}

.heroContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 10.6em;
	position: relative;
}

.img {
	height: 25em;
	object-fit: cover;
	width: 100%;
}

.secondTitle {
	font-size: 5.5em;
	font-weight: 500;
	line-height: 1em;
}

.titleContainer {
	align-items: center;
	color: #444;
	display: flex;
	font-size: 18px;
	flex-direction: column;
	font-family: Lora, serif;
	position: absolute;
	top: -17%;
}
