.signup {
	align-items: center;
	background: linear-gradient(
		rgba(255, 255, 255, 0.5),
		rgba(203, 203, 203, 0.5)
	);
	background-size: cover;
	display: flex;
	flex-direction: column;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	height: 100vh;
	justify-content: center;
}

.signupTitle {
	font-size: 2.7em;
}

.signupForm {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1.1em;
	min-width: 15em;
}

.signupInput {
	background-color: white;
	border: none;
	border-radius: 0.55em;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	height: 3.5em;
	outline: none;
	padding: 0.55em;
}

.signupButton {
	border: none;
	background-color: #be9656;
	border-radius: 0.55em;
	cursor: pointer;
	color: white;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	height: 3.5em;
	margin-top: 1.1em;
	padding: 0.55em;
	text-align: center;
	transition: 0.3s ease-in-out;
}

.signupButton:hover {
	background-color: white;
	color: #be9656;
}

.loginRegisterButton {
	border: 1px solid #be9656;
	border-radius: 0.55em;
	color: #be9656;
	cursor: pointer;
	font-family: Varela Round, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	height: 3.5em;
	margin-top: 1.1em;
	padding: 0.55em;
	text-align: center;
	transition: 0.3s ease-in-out;
	width: 100%;
}

.loginRegisterButton:hover {
	background-color: #be9656;
	color: white;
}
